on:
  workflow_dispatch:
    inputs:
      id:
        description: "run identifier"
        required: false

jobs:
  upload:
    name: "artifact-view-poc"
    runs-on: self-hosted
    steps:
      - name: Token Exchange
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_ACCESS_TOKEN: ${{ env.ACCESS_TOKEN_2 }}
          JFROG_CLI_LOG_LEVEL: DEBUG
      - name: Checkout
        uses: actions/checkout@v2
      - name: deploy_artifact
        run: |
          jf rt upload --server-id aview "pom.xml" mvn-1/pom.xml --build-name $JFROG_CLI_BUILD_NAME --build-number $JFROG_CLI_BUILD_NUMBER --module "artifact-view-demo"
