on:
  workflow_dispatch:
    inputs:
      id:
        description: "run identifier"
        required: false

jobs:
  upload:
    name: "artifact-view-poc"
    runs-on: ubuntu-latest
    steps:
      - name: Token Exchange
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_ACCESS_TOKEN: ${{ env.ACCESS_TOKEN }}
        run: |
          jf rt upload "go.mod" g4/artifact-view-poc-$(date +%Y%m%d%H%M%S) --build-name $JFROG_CLI_BUILD_NAME --build-number $JFROG_CLI_BUILD_NUMBER --module "access-oidc-demo"
